<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{{template "pageheader"}}
<div class="content">
    <h2 class="difference">Set Goals. Support Dreams. Build Community.</h2>
    <p class="product-description">Our platform connects aspiring tech professionals with a supportive community eager to help them succeed.
        Create a wishlist of certifications or courses you need, and let others contribute to your journey.
        Together, we make tech education more accessible, one goal at a time.</p>


    <a href="/login" class="cta-button">Get Started</a>
    <a href="#" class="how-it-works-button">How it works</a>
</div>

<div class="how-it-works-container">
    <h2 class="headline">Your Goals, Supported by Community</h2>
    <div class="column">
        <h3>Set Your Goals</h3>
        <p>Sign up to add your certification or course goals and share why they matter for your tech journey.</p>
    </div>
    <div class="column">
        <h3>Get Community Support</h3>
        <p>Share your wishlist with your community and get support to fund your education and certifications.</p>
    </div>
    <div class="column">
        <h3>Participate in Hackathons</h3>
        <p>Join hackathons to collaborate, innovate, and grow your skills in a supportive community.</p>
    </div>
</div>

<div class="become-a-supporter-container">
    <h2 class="headline">Become a Supporter</h2>
    <div class="column">
        <h3>Sponsor a Hackathon</h3>
        <p>Support streamer hackathons by funding prizes that help tech professionals showcase their skills and achieve their goals.</p>
    </div>
    <div class="column">
        <h3>Donate Directly to a Goal</h3>
        <p>Choose a specific certification or course goal from a tech learner’s wishlist and fund it. Every contribution brings them closer to success.</p>
    </div>
    <div class="column">
        <h3>Support Community Leaders</h3>
        <p>Support community leaders to fund tech education for their members, empowering streamers to give back directly.</p>
    </div>
</div>
{{template "footer"}}
</body>
</html>