<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="header">
    <img src="assets/images/logo.jpg" class="logo"/>
    <h1 class="title">
        {{ .title }}
    </h1>

    {{if eq .isLoggedIn false}}
        <a href="/login" class="login-banner-link">Login</a>
    {{ else }}
        <a href="auth/logout/twitch" class="login-banner-link">Logout</a>
    {{ end }}

</div>
<div class="content">
    <h2 class="difference">Set Goals. Support Dreams. Build Community.</h2>
    <p class="product-description">Our platform connects aspiring tech professionals with a supportive community eager to help them succeed.
        Create a wishlist of certifications or courses you need, and let others contribute to your journey.
        Together, we make tech education more accessible, one goal at a time.</p>


    <a href="/login" class="cta-button">Set Your Goals</a>
    <a href="#" class="how-it-works-button">How it works</a>
</div>

<div class="how-it-works-container">
    <h2 class="headline">Find Support In Your Growth</h2>
    <div class="column">
        <h3>Create Your Wishlist</h3>
        <p>Sign up and add the certifications or courses you’re aiming to complete. Let people know what you're working toward and why each goal is important for your tech journey.</p>
    </div>
    <div class="column">
        <h3>Get Community Support</h3>
        <p>Share your wishlist with your favorite communities. Your supporters can contribute to your goals, helping you fund the education and certifications you need to grow.</p>
    </div>
    <div class="column">
        <h3>Participate in Hackathons</h3>
        <p>Join community hackathons to test your skills, learn from others, and showcase your talent. Collaborate, innovate, and grow in a supportive environment.</p>
    </div>
</div>

<div class="become-a-supporter-container">
    <h2 class="headline">Become a supporter</h2>
    <div class="column">
        <h3>Sponsor a Hackathon</h3>
        <p>Support community-driven hackathons by covering entry fees or providing prizes. Help aspiring tech professionals showcase their skills and network with others.</p>
    </div>
    <div class="column">
        <h3>Donate Directly to a Goal</h3>
        <p>Choose a specific certification or course goal from a tech learner’s wishlist and fund it. Every contribution brings them closer to success.</p>
    </div>
    <div class="column">
        <h3>Support Community Leaders</h3>
        <p>Boost a community content by supporting leaders and help them fund tech education for members of their community. Your support empowers streamers to give back directly.</p>
    </div>
</div>

</body>
</html>