<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css">
</head>
<body>
<div class="login-page-container">
    <a href="/auth/login/twitch" class="login-button twitch">
        <i class="fab fa-twitch"></i> Login with Twitch
    </a>
<!--    <a href="/auth/login/google" class="login-button google">-->
<!--        <i class="fab fa-youtube"></i> Login with Youtube-->
<!--    </a>-->
<!--    <a href="/auth/login/twitter" class="login-button x">-->
<!--        <i class="fab fa-x-twitter"></i> Login with X-->
<!--    </a>-->
</div>
</body>
</html>